{erl_opts, [debug_info, warn_export_all]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {extras, [
      {"README.md", #{title => "Overview"}},
      {"LICENSE",   #{title => "License"}}
    ]},
    {main,          "README.md"},
    {source_url,    "https://github.com/saleyn/util"}
]}.

{plugins, [rebar3_hex]}.
