{erl_opts, [debug_info, warn_export_all]}.

{edoc_opts, [{overview,        "build-aux/overview.edoc"},
             {title,           "Collection of miscelaneous utility modules"},
             {stylesheet_file, "build-aux/edoc.css"},
             {pretty_printer,  erl_pp},
             {keywords,        "utility, tools, erlang, csv, parse transform"},
             {app_default,     "http://www.erlang.org/doc/man"}]}.

{ex_doc, [
    {extras, [
      {"README.md", #{title => "Overview"}},
      {"LICENSE",   #{title => "License"}}
    ]},
    {main,          "README.md"},
    {authors,       ["Serge Aleynikov"]},
    {source_url,    "https://github.com/saleyn/util"}
]}.

{plugins, [rebar3_hex, rebar3_ex_doc]}.
