{erl_opts, [debug_info, warn_export_all]}.

{edoc_opts, [{overview,        "build-aux/overview.edoc"},
             {title,           "Collection of miscelaneous utility modules"},
             {stylesheet_file, "build-aux/edoc.css"},
             {pretty_printer,  erl_pp},
             {keywords,        "one, two,
                                three,
                                four"},
             {app_default,     "http://www.erlang.org/doc/man"}]}.

