html {
  --scrollbarBG: #44565f;
  --thumbBG: #5d7079;
}

body {
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  margin: 15px 10px;
  background-color: #0d1117;
  color: #d8cebf;
  margin: 15px 0 0 0;
  line-height: 1.5em;
  scrollbar-width: thin;
  /*scrollbar-color: var(--thumbBG) var(--scrollbarBG);*/
  scrollbar-color: auto;
}

body.src {
  margin-left: 10px;
}

frameset {
  background-color: #0d1117;
}

element.style {
  word-wrap: break-word;
}

code {
  padding: 2px;
}

pre code {
  padding: 10px;
}

pre {
  background-color: var(--color-bg-tertiary);
  background-color: #161b22;
  border-radius: 6px;
  font-size: 85%;
  line-height: 1.5em;
  overflow: auto;
  padding: 0px;
  word-wrap: normal;
  white-space: pre;
  margin: 0px;
}

p {
  font-size: 16px;
  line-height: 1.5em;
  /*margin: 0 0 1.5em 0;*/
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1 {
  display: block;
}

h1, h2 {
  border-bottom: 1px solid var(--color-border-secondary);
  padding-bottom: .3em;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  /*line-height: 1.25;*/
  margin-bottom: 16px;
  margin-left: 0;
}

table {
  display: block;
  max-width: 100%;
  overflow: auto;
  width: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-spacing: 0;
  margin-left: 0;
}

code, pre, tt {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}

/*
blockquote, details, ul, dl, ol, p, pre {
  margin-bottom: 15px;
  margin-top: 0;
}
*/

.class-for-16px {
  font-size: 1em; /* 16px */
  line-height: 1.5em; /* 24px */
  margin-top: 1.5em;
  margin-bottom: 0em;
}

.class-for-14px {
  font-size: 0.875em; /* 14px */
  line-height: 1.7143em; /* 24px */
  margin-top: 1.7143em;
  margin-bottom: 0em;
}

ul {
  margin: 0 0 1.5em 0;
  list-style-position: outside;
}

p tt {
  padding: 5px;
}

tt, code, pre {
  font-size: 0.875em;
  /*line-height: 24px */
  /*margin: 0 1em 24px; */
  /*padding: 0 1em;*/
  background: #2d3238;
}

.navbar img, hr {
  display: none;
}

.navbar, table th, h1, h2.indextitle {
  /*background-color: #85C2FF;*/
}

table.frame {
  padding: 0;
}

table.tab, table.index {
  border-collapse: collapse;
  border: 1px solid gray;
}

/* Column separators excluding the border */
table.tab td.tab + td.tab
{
  border-left: 1px solid gray;
}

table.tab th.tab {
  border-bottom: 1px solid gray;
}

table.tab   td,
table.tab   th,
dd {
  padding: 8px;
}

dd {
  margin-inline-start: 15px;
}

table td {
  vertical-align: top;
}

/* table alternative row coloring */
tr.tab:nth-child(even) {
  background-color: #161b22;
}

h2.indextitle {
  font-size: 1.25em; /* 20px */
  /*line-height: 24px */
  margin: -8px -8px 0.6em;
  padding: 0.3em;
}

ul.index {
  list-style:  none;
  margin-left: 0;
  padding:     0;
}

ul.index li,
ol.index li,
dl.index li {
  display:       inline;
  padding-left:  0.5em;
  padding-right: 0.5em;
}

ul.index li:not(:first-child) {
  border-left: 1px solid;
}

dt {
  font-weight: 600;
}

div.spec p {
  margin-bottom: 0;
  padding-left:  0;
}

a:not([href]) {
  color: #84b1cc;
  text-decoration: none;
}

a[href]:link, a[href]:visited, a[href]:active {
  color: #58a6ff;
  text-decoration: none;
}

a[href]:hover {
  background-color: transparent;
  text-decoration: underline;
}

a.function {
  padding-left: 5px;
}

a tt {
  background-color: #0d1117;
}

i {
  font-size: 0.875em; /* 14px */
  /*line-height: 24px */
  margin-top: 1.7143em;
  margin-bottom: 0em;
  font-style: normal;
}

/* Right/Left/Up/Down arrows */
/* See: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_arrows */
.arrow {
  border: solid #4f4c56;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
